@inject NavigationManager MyNavigationManager

<div class="flex flex-row w-full justify-between px-16">
    <ul class="flex flex-row gap-10">
        <li class="flex items-center py-6 @SetNavLinkActive("")"><a href="/">All</a></li>
        <li class="flex items-center py-6 @SetNavLinkActive("electronics")"><a href="/category/electronics">Electronics</a></li>
        <li class="flex items-center py-6 @SetNavLinkActive("jewelry")"><a href="/category/jewelry">Jewelry</a></li>
        <li class="flex items-center py-6 @SetNavLinkActive("men-clothing")"><a href="/category/men-clothing">Men's Clothing</a></li>
        <li class="flex items-center py-6 @SetNavLinkActive("women-clothing")"><a href="/category/women-clothing">Women's Clothing</a></li>
    </ul>

    <div class="flex items-center bg-neutral-900 px-8">
        <a href="#" class="text-white font-medium">F-Commerce</a>
    </div>
</div>

@code {
    private string CurrentSlug { get; set; } = string.Empty;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        CurrentSlug = MyNavigationManager.Uri.Split('/').Last();
    }

    private string SetNavLinkActive(string slug)
    {
        if (CurrentSlug == slug) return "font-medium";
        return string.Empty;
    }
}
